body {
    background-color: #f9d9aa;
}

.card {
    background-color: white;
    width: 300px;
    padding: 10px 10px;
}

.card img {
    width: 200px;
    height: 200px;
}

.card div{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.secondaride{
    gap: 2rem;
}

/*
div {
    background-color: white;
    width: 343px;
    height: 373px;
    padding: 20px;
    border-radius: 10px;
    
}

span{
    padding: 5px;
    margin-right: 10px;
    border: 2px solid orange;
    border-radius: 10px;
    color: orange;
}
    



.hot{
    border: 2px solid orange;
    border-radius: 10px;
    color: orange;
}

.cold{
    border: 2px solid #FFD28F;
    border-radius: 10px;
    color: #FFD28F;

}


.punteggio{
    background-color: white;
    border: 2px solid #FFD28F;
    border-radius: 10px;
    color: #FFD28F;    
}

button {
    background-color: orange;
    border-radius: 50%;
    margin-left: 150px;
    border:  0px;
    padding: 10px;
}
*/
