/* commenti */

/* selettori semplici */
button{
    background-color: yellow;
}

.rosso {
    background-color: red;
    font-size: 30px;
}

#sezionex {
    background-color: blue;
}

/* selettori combinari */

div p{
    background-color: purple;
}

div > p{
    background-color: green;
}

div ~ p{
    background-color: aquamarine;
}

div + p{
    background-color: pink;
}

.rosso + p{
    background-color: greenyellow;
}