@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
body {
    background-color: black;
}
.card {
    background-color: white;
    height: 370px;
    width: 343px;
    border-radius: 12px;   
}
img {
    border-radius: 20px;
    padding: 15px;
}
#star {
    background-color: white;
    border-radius:10px;
    border-color: white;
    font-family:Poppins;
    font-weight: 600;
    weight: 600;

}

.caption {
    font-family: Poppins;
    font-weight: 600;
}
#hot {
    background-color: white;
    border-color: orange;
    border-radius: 5px;
    font-family: Poppins;
    color: orange;
    width: 3.125rem;
}
#cold {
    background-color: white;
    border:0px;
    border-color:#FFD28F;
    border-radius: 5px;
    font-family: Poppins;
    color: #FFD28F;
    width: 3.125rem;  
}
#cart {
    background-color: orange;
    border-color: orange;
    Border-radius:40px;
    height: 40px;
    padding: 0px;
}


