* {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    margin: 20px;
}

body {
    background: #f2f4f6;
}

.search-wrap {
    max-width: 600px;
    margin: 50px auto;

}

input[type="text"] {
    display: block;
    width: calc(100% - 24px);
    font-size: 18px;
    font-weight: 600;
    color: #865408;
    padding:10px;
    padding-left:60px ;
    border-radius: 30px;     
}
.search-wrapper img {
    position: absolute;
    top: 0px;
    left: 0px;
}