@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

body {
    background-color:white ;
    font-family: 'Work Sans', sans-serif;
    padding: 1rem;
    margin: 0;
    }

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

#fotoprofilo {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 100%;
    background-color: #C4C4C4;
    }

#chiocciola{
    display: flex;
    font-size: .875rem;
}

.follower {
    display: flex;
    justify-content: center;
    gap: .125rem;
}
   


    

    
    
