@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap');


body{
    background-color: black;
    font-family: 'Mulish', sans-serif;
}

.card{
    width: 356px;
    height: 385px;
    background-color: white;
    border-radius: 20px;
}

.imgcap{
    margin:13px 0px 0px 22px;
    border-radius: 15px; 
}

.conteiner{
    display: flex;
    justify-content: space-between;
}

.card-name{
    font-weight: 800;
    font-size: 28px;
    margin-left: 22px;
    margin-top: 10px;
}

.card-like{
    font-weight: 800;
    font-size: 28px;
    margin-right: 28px;
    margin-top: 10px;
}

.card-descr{
    font-weight: 800;
    color: rgba(144,144,144,1);
    margin-left: 22px;
}

.cartshop{
    
}