@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body {
  background-color: peachpuff;
  font-family: 'Poppins', sans-serif;
}

.header{
    display:flex;
    justify-content: space-between;
    margin: 40px 50px;
}

/* come faccio a distaccare tra di loro gli elementi della navbar? 
    come faccio ad allineare tutto l'header?*/
.navbar a{
  display: flex;
  justify-content:space-evenly;
  text-decoration: none;
  color: black;
}

/* .topnav a:hover {
  color: orange;
} */

/* è giusto usare un elenco puntato in una navbar? 
    se si, perchè?*/
.ul-p{
    list-style-type:none;
    display:flex;
}

/* perchè ho bisogno di rispecificare la font-family per un input-text, dopo averlo  specificato per tutto il body?
    come inserisco la lente d'ingrandimento nella searchbar?*/
.searchbar{
    border-radius: 35px;
    font-weight: 500;
    padding: 10px 15px;
    font-family: 'Poppins', sans-serif;
}

/* è giusto allineare il carrello alla saerchbar in questa maniera (con position ecc)?*/
.header-shopcart{
    margin-left: 10px;
    position: absolute;
    top: 47px;
    cursor:pointer;
}

.main-sentence{
  font-weight: 600;
  color: #2F2105;
  font-size: 38px;
  margin-top: 60px;
  margin-left: 90px;
}

.small-sentence{
  margin-top: 24px;
  margin-left: 90px;
  margin-bottom: 32px;
  font-weight: 500;
  color:#7E7D7A;
}

/* ho dovuto specificare di nuovo la font family, perchè? */
.ordernow-button{
  margin-left: 90px;
  border: 0px;
  border-radius: 33px;
  background-color: #2F2105;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 6px 32px;
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 38px;
}

/* non sono riuscito a far venire il bottene perfettamente cerchiato */
.ordernow-cartshop{
  border-radius: 50%;
  border: 0px;
  background-color: orange;
  align-items: center;
  padding: 5px;
  margin-left: 10px;
}

.circlebg{
  width: 416px;
  height: 416px;
  border: 0px;
  border-radius: 50%;
  background-color: #2F2105;
  margin-right: 159px;
}

.infos-container{
  background: linear-gradient(92.95deg, rgba(255, 255, 255, 0.4) 0.82%, rgba(255, 255, 255, 0.7) 96.47%);;
  border-radius: 25px;
  position: absolute;
}

.product-infos{
  background-color: white;
  border-radius: 20px;
  font-weight: 600;
  margin: 5px;
  font-size: 24px;
  color: #2F2105;
}

.circleimg{
  position: absolute;
  padding-top: 10px;
  padding-left: 38px;
  /* right: 196px; */
}

.card {
  position: relative;
  width: 356px;
  height: 385px;
  background-color: rgba(255, 250, 233, 1);
  border-radius: 12px;
  box-shadow: 6px 6px 5px rgba(220, 220, 220, 0.5);
  color: #2F2105;
}

.imgcap {
  margin: 13px 0px 0px 24px;
  border-radius: 15px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.card-name {
  font-weight: 700;
  font-size: 28px;
  margin-left: 30px;
  margin-top: 10px;
}

.card-like {
  font-weight: 800;
  font-size: 28px;
  margin-right: 28px;
  margin-top: 10px;
}

.card-description {
  font-weight: 700;
  color:#7E7D7A;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 20px;
}

.cartshop-button {
  margin-right: 30px;
  padding: 13px;
  border-radius: 50%;
  border: 0px;
  background-color: orange;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.rating-container-card {
  background: linear-gradient(92.95deg, rgba(255, 255, 255, 0.4) 0.82%, rgba(255, 255, 255, 0.7) 96.47%);;
  border-radius: 25px;
  position: absolute;
  top: 25px;
  left: 38px;
}
.product-rating-card {
  background-color: white;
  border-radius: 20px;
  font-weight: 900;
  margin: 5px;
  padding: 2px 9px;
}