@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@200;300;600&display=swap");
body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}


/* header */


/* nav */

header {
    background-color: #f6ebda;
    height: 55rem;
    margin-bottom: 25rem;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.logo {
    padding: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
}

li a {
    padding: 1rem;
    text-decoration: none;
    color: black;
}

a:hover {
    color: #ff912b;
}

.orange {
    color: #ff912b;
}

.search {
    display: flex;
}

input {
    padding: 0.7rem 2rem;
    border-radius: 1rem;
    border: 0;
    position: relative;
}

.lents {
    position: absolute;
    right: 18rem;
    top: 2rem;
}


/* header section */

section {
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image_header {
    display: flex;
    justify-content: center;
}

.image_header img {
    width: 70%;
    position: relative;
}

.backgraud_coffe-top {
    position: relative;
}

.cofe {
    width: 40%;
    position: absolute;
    right: -5rem;
    top: -0.5rem;
}

.section_sx {
    width: 100%;
    padding-left: 2rem;
}

.section_sx h1 {
    font-size: 3rem;
}

.section_sx p {
    font-size: 1.1rem;
    margin-top: 0rem;
    line-height: 1.7rem;
}

button {
    background-color: #2f2105;
    border: 0;
    border-radius: 1rem;
    color: #fff;
    padding: 0.3rem 0.7rem;
    display: flex;
    align-items: center;
}

button svg {
    background-color: #ff912b;
    padding: 0.5rem;
    border-radius: 50%;
    margin: 0.3rem;
}

.backgraund-cofe_bottom {
    position: relative;
}

.backgraund-cofe_bottom img {
    width: 40%;
}

.cofee_bottom {
    position: absolute;
    top: -3rem;
    left: 0rem;
}

.section-card {
    width: 90%;
    padding: 0rem 4rem;
}

.img_rettangle_orange {
    width: 100%;
    margin-left: 0rem;
    margin-top: 5rem;
    position: absolute;
}

h2 {
    margin-left: 6rem;
    font-size: 2rem;
}

.colored_line {
    position: relative;
}

.line_orange {
    position: absolute;
    width: 4.5rem;
    height: 0.3rem;
    background-color: #ff912b;
    top: -2rem;
    left: 14.5rem;
}

.cards {
    position: relative;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.background_card {
    background: linear-gradient( 180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);
    width: 31%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin: 0.5rem;
}

.card {
    background-color: #fff;
    width: 91%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem;
}

.card img {
    border-radius: 1rem;
    width: 97%;
}

.trasparent_background {
    width: 10%;
    background: linear-gradient( 180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 100%);
}

.score {
    position: absolute;
    left: 0;
    margin-left: 2.5rem;
    background-color: #fff;
    margin-top: 0.65rem;
    border-radius: 1rem;
    padding: 0.3rem 0.6rem;
    font-weight: 700;
}

.text-row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.text-row1 h4 {
    font-size: 1.5rem;
    margin-bottom: 0rem;
}

.row-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_orange {
    border: 0.125rem solid #ffd28f;
    color: #ffd28f;
    padding: 0.3rem 0.65rem;
    border-radius: 0.5rem;
    background-color: #fff;
    font-size: 1rem;
}

.background_orange {
    background-color: #ff912b;
    width: 1rem;
    padding: 0.7rem;
    border-radius: 50%;
}

.row-2>div {
    display: flex;
    gap: 1rem;
}

.section_delevery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
}

.position {
    position: absolute;
    left: 27rem;
    width: 7rem;
}

.section_delevery h3 {
    margin-bottom: 0;
    font-size: 1.5rem;
}

.section_delevery p {
    margin-top: 0;
}

.cofee-cup {
    position: relative;
}

#tap {
    position: absolute;
    top: 6rem;
    left: 6rem;
}

article {
    background-color: #f6ebda;
    display: flex;
    justify-content: center;
    padding: 0rem 4rem 3rem;
    margin-top: 7rem;
    position: relative;
}

article div {
    width: 41%;
}

article img {
    position: absolute;
    top: -6rem;
    left: 10rem;
    width: 25%;
    border: 0.2rem solid #fff;
    border-radius: 0.9rem;
}

article h2 {
    margin-left: 0rem;
}

.us {
    position: absolute;
    width: 2.1rem;
    left: 6.5rem;
}

article h3 {
    font-size: 1.5rem;
    width: 20rem;
    margin-bottom: 0rem;
}

.menu {
    padding: 4rem;
}

.menu h3 {
    margin-left: 4rem;
}

.position_menu {
    position: relative;
    top: -1.5rem;
    left: 20.3rem;
    width: 7rem;
}

.card_menu {
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.3rem #8888;
}

.row-2 p {
    font-size: 0.9rem;
    color: #8888;
    width: 9rem;
}

.section_what-they-sey {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* gap: 2rem; */
    padding-left: 7rem;
}

.grid {
    width: 28rem;
    height: 28rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0.4rem;
    grid-row-gap: 0.4rem;
}

.div1 {
    height: 10rem;
    grid-area: 1 / 1 / 2 / 3;
}

.div2 {
    width: 13.3rem;
    grid-area: 2 / 1 / 3 / 2;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3;
}

.right {
    width: 15rem;
}

.back-grey {
    background-color: #f1f1f1;
    padding: 1rem;
    width: 15rem;
    line-height: 0.9rem;
}

.subscribe {
    padding: 6rem;
}

.back-img {
    width: 100%;
    height: 22rem;
    background-image: url("assets/unsplash_ftA71vetxuo.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-img h3 {
    color: #f1f1f1;
    font-size: 1.5rem;
}

.back-img p {
    width: 18rem;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    color: #8888;
}

footer {
    padding: 4rem;
    background-color: #f6ebda;
}

.container {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: baseline;
}

.first_part_footer {
    width: 20rem;
}

.social {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 1rem;
}

.instagram {
    background-color: #fff;
    width: 1.5rem;
    padding: 0.3rem;
    border-radius: 1.2rem;
}

.facebook {
    background-color: #ff912b;
    width: 1rem;
    padding: 0.4rem;
    border-radius: 1.2rem;
}

.twitter {
    background-color: #fff;
    width: 1.5rem;
    padding: 0.3rem;
    border-radius: 1rem;
}

.second_part ul {
    list-style: none;
    padding-left: 0;
}

.footer_riserved {
    text-align: center;
    font-size: 0.8rem;
}