@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
body {
font-family: 'Lato', sans-serif;
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    }

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    background-color:#F6EBDA;

    }

div {
    font-family: "Lato", sans-serif;
    font-size: 2rem;

    }


ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding:0rem 2rem;
    border-spacing: 1rem;
    
    }

/* PSEUDO-CLASSE */
ul a:hover {
    color: orange;

    }

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    }


nav > ul > li > a {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1rem;
    
    }

.logo {
    
    display: flex;
    justify-content: flex-start;
    padding: 2rem 1rem;
    
    }

.lente {
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    
    }

.searchbar {  
    border-radius: 4rem;
    display: flex;
    /* border: 1px solid black; */

    }

.searchbar input {
    height: 1.3rem;
    border: 0px;
    padding: 5px 10px;
    padding-left: 40px;
    border-radius: 1.3rem;
    margin-right: 1rem;

    }
    

@media screen and (max-width:760px){
    ul{display: none;}
}