@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,600;0,700;0,800;1,100;1,400;1,500;1,600;1,700&display=swap');


body {
    font-family: 'Work Sans', sans-serif;
}

h1{
    margin-top: -20px;

    font-size: 20px;
    font-weight: 600;
}

h4{
  
  font-size: 14px;
  font-weight: 400;  
  color: #333333;
}

/* header */


header {
    
}

/* section1 */

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.profile {
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
height: 50px;
width: 50px;
background-color: #C4C4C4;
}

/* section 2 */

.section2 {
    display: flex;
    gap:20px;
}

button{
   height: 32px;
   width:96px;
   background-color: white;
   font-size: 16px;
   font-weight: 600;
   color: #333333;
   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
   border-radius: 50px;

}