@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,700;1,900&display=swap');

body {
    background-color: #181823;
    color: white;
    font-family: 'Lato', sans-serif;'
    justify-content: center;
    
}


#line{
   
  
}

#form { 
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 3rem;
   
}

#email {
padding-bottom: 20px;
padding-right: 200px;
border-radius: 5px;
border-color: grey;
border-style: solid;

}

#message {

    padding-bottom: 200px;
    padding-right: 200px;
    border-radius: 5px;
    border-color: grey;
    border-style: solid;
    
    }
    
#phone {
        padding-bottom: 20px;
        padding-right: 200px;
        border-radius: 5px;
        border-color: grey;
        border-style: solid;
        
        }
#title {
            padding-bottom: 20px;
            padding-right: 200px;
            border-radius: 5px;
            border-color: grey;
            border-style: solid;
            
            }    
            
#submit {
    
   margin-top: 100px; 
   margin-left: 280px; 
   padding: 15px, 30px;
   font-family: 'Lato', sans-serif;
   font-size: 2rem;
}