@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
    font-family: "poppins" sans-serif;
}

.section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h2 {
    margin-left: 2rem;
}

div>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#tap {
    position: absolute;
    top: 10rem;
    margin-left: 3rem;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #ff912a;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.15rem;
}