@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;500;700&display=swap");

body {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    background-color: #f6ebda;
    padding-left: 8.4375rem;
    padding-right: 8.4375rem;
}


/* Chicchi sfondo */
.chicchi1 {
	position: absolute; 
	right: 0%;
	top: 0%;
	z-index: -1;
}

.chicchi2 {
	position: absolute; 
	margin-left: -8.4375rem;
	z-index: -1;
}

/* Sezione "Popular now" */

.cards {
	display: flex;
	justify-content: space-between;
}

.cards > div{
    padding: 1rem;
	background: white;
	width: 343px;
	height: 373px;
	border-radius: 14px;
}

.cards > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card > div > h3 {
	font-weight: bold;
    
}