
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');




body { 
    background-color: white;
    display: flex;
    gap: 10px;
    font-family: 'Poppins', sans-serif, ;
}

.bevande {

   position: relative;
   background-color: white;
   width: 343.97px;
   height: 373px;
   
   
   border-radius: 10px;
   
   box-shadow: 0px 0px 24px 19px rgba(0,0,0,0.1);

   
  
   

}
#mocaccino {
    margin-top: 20px;
    margin-left: 20px;
    
    border-radius: 10px;
}

h3 {
   margin-left:35px;
   font-family: 'Poppins', sans-serif;

   

}

p {
    margin-left: 35px;


}

#scritta {
    margin-left: 35px;
    font-family: 'Poppins', sans-serif;
    color: #7E7D7A;

}

.icona {
    background-color: orange;
    margin-left: 110px;
    border-radius: 50%;
    padding: 10px;

}
  

svg {
    background-color: orange;
    background-size: 100px;
    
}


#titolo {
    display: flex;
    gap: 2rem;
}

.score {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: white;
    border-radius: 15px;
    padding: 5px 10px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1);
}

#k {
    margin-left: 110px;
}

#star {
    margin-left: 5px;
}