@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,700;1,900&display=swap');

body {
    background-color: #181823;
    color: white;
    font-family: 'Lato', sans-serif;'
    justify-content: center;
    
}

h1 {
    font-size: 4rem;
}