body{
    margin:0;
}
@font-face {
    font-family: readex;
    src: url(font/ReadexPro-Regular.woff);
}
/*------container----*/

.container{
    font-family: poppins;
    src: url(font/Poppins-Black.woff);
    margin-top:100px;/*momentaneo*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6EBDA;
    gap:200px;
}

/*------text div----*/

.text{
    display: flex;  
    flex-direction: column;
    width: 30%;  
}
.text u{
    text-decoration-color: #FF912B;
}

/*------text elements----*/

.text span{
    padding:10px;
    }
#text-1  {
    font-size: 2rem;
    line-height: 48px;
    font-weight:600;
    }
#text-2{
    font-size: 1.5rem;
    line-height: 36px;   
    width: 60%;
    font-weight: 600;
    }
#text-3{
    width: auto;
    font-weight: 400;
    color: #7E7D7A;
    }

/*------image div----*/

.image{
    position: relative;
    bottom: 60px;
    border-radius: 4%;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.168),
            -5px -5px 8px rgba(0, 0, 0, 0.168),
             5px -5px 8px rgba(0, 0, 0, 0.168),
            -5px  5px 8px rgba(0, 0, 0, 0.168);
}
.image img{
    width: 300px; 
    height: auto;
    box-shadow: 5px 5px 2px #fff,
              -5px -5px 2px #fff,
               5px -5px 2px #fff,
              -5px  5px 2px #fff;
    border-radius: 4%; 
}

/*------button style----*/

.btn{
    font-family: poppins;
    background-color: #2f2105; ;
    border-radius: 40px;
    padding: 10px 0px;
    border:none;
    color:#F4AE26;
    font-size: 1rem;
    width: 180px;
}

/*------review component style----*/

.review-container{
    font-family: readex;
    background-color: #F1F1F1;
    width:452px;
    min-height: 210px;
    border-radius: 10px;  
    font-family: readex;   
}
.review-external-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
}
.review-internal-container{
    display: flex;
    align-items: center;
    margin-top: 28px; 
    gap:20px;
}
#name{
    font-size: 1.25rem;
    font-weight: 500;
}
.namestar{
    display:flex; 
    flex-direction: column;
    gap:5px;
}
.review-text{
    font-size: 1.07rem;
    max-width: 412px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    color: rgba(29, 29, 29, 0.7);
}
.star-container{
    display:inline;
}
.star-container #star{
    padding-right: 5px;
}
