/* button {
    background-color: #2f2105;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    padding: 10px 5px;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
    font-family: "Poppins", sans-serif;
    color: black;
}

@media screen and (min-width: 480) and (max-width: 778) {
    body {
        color: red;
    }
}

@media screen and (max-width: 1024) {
    body {
        color: blue;
    }
}

section {
    background-color: #fff;
    width: 370px;
    padding: 10px 10px;
    border: 0.25rem solid #faf3e9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    position: absolute;
    left: 0;
    margin-left: 60px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 15px;
    padding: 5px 10px;
}


/* section img {
    width: 200px;
    height: 200px;
} */

section>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section>div>div {
    display: flex;
    gap: 2 rem;
}

section div span {
    border: 2px solid #ffd28f;
    color: #ffd28f;
    padding: 5px 10px;
    border-radius: 10px;
}

.primariga span {
    color: #ffd28f;
    border: 2px solid #ffd28f;
    background-color: #fff;
    border-radius: 10px;
    padding: 3px 10px;
    margin-right: 15px;
    font-size: 16px;
    margin-right: 10px;
}

.secondariga {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 5px;
}


/* .section_dx:nth-last-child(1) {
    background-color: #ffd28f;
} */

.icon {
    background-color: #ff912b;
    padding: 10px;
    border-radius: 50%;
}

.prova {
    display: flex;
}