/* Remove padding and margin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #deecf9;
  color: #fff;
  font-family: sans-serif;
}
/* ------------------------------- */
header,
footer {
  background-color: #01b77a;
}
.green {
  background-color: #01b77a;
}
/* HEADER */
main {
  display: flex;
  justify-content: space-between;
}
#content {
  width: 70%;
}
#sidebar {
  width: 30%;
}
main > div {
  margin: 0 0.5rem;
}
/* NAV BAR */

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 70rem;
  margin: 0 auto;
  padding: 1rem 2rem;
}
.navbar__link li {
  list-style-type: none;
  display: inline;
  margin: 0 1rem;
}

/* MAIN SECTION */
main {
  margin: 2rem auto;
  max-width: 70rem;
}
.section {
  position: relative;
  background-color: rgb(255, 195, 75);
  width: 100%;
  height: 25rem;
  color: #000;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.section__text {
  position: absolute;
  background-color: rgba(255, 255, 0, 0.261);
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}
/* MAIN ARTICLE */
.article__title {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem;
  border-radius: 1rem;
}
.article__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.article__card__container {
  background-color: rgb(100, 100, 100);
  width: 48%;
  height: 25rem;
  margin: 1rem 0;
  border-radius: 1rem;
}
.article__card__container__img {
  height: 50%;
  background-color: #b70101;
  border-radius: 1rem;
}
.article__card__container__text {
  padding: 0.5rem;
}
.article__card__container__text > div {
  margin: 0.5rem;
}
/* MAIN SIDEBAR */
.sidebar__popular {
  height: 25rem;
}
.sidebar__popular__title,
.sidebar__category {
  padding: 1rem;
  border-radius: 1rem;
}
.sidebar__popular__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__popular__container__article {
  display: flex;
  background-color: rgb(100, 100, 100);
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  height: 6rem;
  border-radius: 1rem;
}
.sidebar__popular__container__article__img {
  background-color: #b70101;
  width: 45%;
  border-radius: 1rem;
  margin-right: 0.5rem;
}
.sidebar__popular__container__article__text {
  line-height: 1.8rem;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 0.5rem;
}
