@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}
.container{
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
    padding: 30px 50px;
    border-radius: 20px;
}
.container .color{
    font-weight: 500;
    font-size: 25px;
}

