/* SELETTORI SEMPLICI */
/* Quando nulla precede il nomme, recuperiamo quei tag */
@media screen and (min-width: 480px) and (max-width:768px) {
  body{
    background-color: coral;
  }
}

@media screen and (min-width: 768px) {
  body{
    background-color: gray;
  }
}

.p_bellino{
  background-color: aquamarine;
  color: blue;
  font-family: cursive;
}
/* il # serve per recuperare gli id*/
#rosso{
  background-color: red;
  display: inline;
}
/* Il . serve per recuperare le classi*/
.blu{
  background-color: blue;
  color: white;
  display: inline;
}
/*----------------------------------------------------------------*/
/* SELETTORI COMBINATORI */
/* Qui abbiamo il discendente (seleziona tutti i discendenti) */
div p{
  background-color: bisque;
}
/* vado a selezionare tutti i paragrafi figli di un div */
div > p{
  background-color: cadetblue;
}
/* vado a selezionare tutti i p fratelli (sullo stesso livello) successivi ai div */
div ~ p{
  font-size: 2rem;
}
/* vado a selezionare il p fratello (sullo stesso livello) immediatamente successivi al div */
div + p{
  font-size: 3rem;
}