@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

:root {
  --neutral: #d0d0d0;
  --neutral-light: #ececef;
  --neutral-dark: #262626;
  --ink: #161616;
  --ink-light: #525252;
}

/* Regole generali */

body {
  font-family: 'Work Sans', sans-serif;
  padding: 24px;
  margin: 0;
  color: var(--ink);
}

header {
  padding-top: 2rem;
}

p {
  color: var(--ink-light);
  line-height: 1.6;
}

p,
h3 {
  font-size: .875rem;
}


h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-weight: 600;
}

/* Header */

header>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}

header input {
  background-color: var(--neutral);
  border: 0px;
  border-radius: 16px;
  padding: 16px;
  padding-left: 40px;
  font-size: .875rem;
  font-family: inherit;
  width: 100%;
}

header>div>svg {
  position: absolute;
  padding-left: 12px;
}

/* Sezione "Last contacted" */

#contacted .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Per togliere la barra dello scroll: */
.container {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.container::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
#contacted2 .container {
  overflow: scroll;
}

#contacted2 .wrapper {
  display: flex;
  gap: 1rem;
  width: fit-content;
}

.square {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--neutral);
  border-radius: 8px;
  position: relative;
  margin-bottom: 5px;
}

.square {
  min-width: 3.5rem;
}

.square-sm {
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
}


/* dot  */
#contacted .container .square>div,
#contacted2 .container .square>div {
  width: 1.125rem;
  height: 1.125rem;
  background-color: #333333;
  border-radius: 50%;
  bottom: -5px;
  right: -5px;
  position: absolute;
}

/* Sezione lista dei contatti */

#list,
#chat {
  margin: 40px -24px -24px -24px;
  background-color: var(--neutral-light);
  border-radius: 20px 20px 0px 0px;
  padding: 24PX;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

#list>div {
  margin-bottom: 1rem;
}

#list .container,
#chat .container {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100vh;
}

#list .container h3,
#list .container p,
#chat .container p {
  margin: 0;
}

#list .container>div>div {
  display: flex;
  justify-content: space-between;
}

#list .container>div>div>span {
  color: var(--neutral-color);
}


/* Sezione chat */

#chat .container {
  display: block;
}

.back {
  margin-bottom: 1.25rem;
  ;
}

#chat-with {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chat-with>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#chat-with>div span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral);
  border-radius: 50%;
  width: 2.875rem;
    height: 2.875rem;
}

#chat-with>div span svg {
  height: 0.9375rem;
}

#chat {
  display: flex;
  flex-direction: column;
  padding-bottom: 5.25rem;
}

#chat .chat-field {
  background-color: var(--neutral);
  padding: 0.875rem 1.25rem;
}

#chat .chat-row .chat-time {
  text-align: center;
}

.chat-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0.75;
    grid-row-gap: 1.5rem;
    margin-bottom: 0.875rem;
}

.chat-guest {
  grid-area: 1 / 2 / 2 / 5;
  border-radius: 1.875rem 1.875rem 1.875rem 0px;
}

.square-sm {
  grid-area: 1 / 1 / 2 / 2;
  align-self: end;
}

.chat-time {
  grid-area: 1 / 5 / 2 / 6;
  font-size: .75rem;
    align-self: center;
}

#chat .chat-owner {
  grid-area: 1 / 3 / 2 / 6;
  border-radius: 1.875rem 1.875rem 0px 1.875rem;
  }
  
  #chat .submit-bar {
    display: flex;
    position: fixed;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    bottom: 0.625rem;
    width: 87%;
    background-color: var(--neutral);
    border-radius: 3.125rem;
    padding: 0.125rem 0.25rem;
  }
  
  #chat .submit-bar input {
    background-color: transparent;
    width: 70%;
    border: 0rem;
    padding: 1rem;
    font-size: .875rem;
    font-family: inherit;
}

#chat .submit-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 3.125rem;
  height: 2.75rem;
  width: 2.75rem;
  border: 0;
}

/* Sezione Daily Activity */

.activity {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 30px;
}

.activity>div {
  flex-direction: column;
  align-items: flex-start;
}

.activity>div p,
.activity>div h1,
#weekdays .wrapper p,
#weekdays .wrapper h1 {
  margin: 0;
}

#weekdays {
  overflow: scroll;
}

#weekdays .wrapper {
  display: flex;
  gap: 0.6rem;
  width: fit-content;
}

#weekdays .wrapper div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: var(--neutral);
  width: 15.5vw;
  padding: 12px 0;
  border-radius: 12px;
}

#weekdays .wrapper div>.date-num {
  font-weight: 600;
  font-size: 22px;
}

#jogging {
  width: 100%;
  margin: 30px 0;
}

#jogging .wrapper {
  display: flex;
  justify-content: space-around;
  background-color: var(--neutral-dark);
  padding: 30px 10px;
  border-radius: 12px;
}

#jogging .wrapper div {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

#jogging .wrapper div svg {
  margin: 0 7px 10px 3px;
}

#jogging .wrapper div p {
  color: white;
  line-height: 14px;
  padding: 0;
  margin: 1px 0;
}

#jogging .wrapper div p:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
}

#jogging .wrapper div p:nth-child(3) {
  font-size: 12px;
  font-weight: 400;
}

#health-status>div {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

#health-status>div .left-box {
  position: relative;
  width: 31%;
  padding: 28px;
  background-color: var(--neutral);
  border-radius: 20px;
}

#health-status>div .right-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 32%;
}

#health-status>div .right-box>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* height: 45%; */
  padding: 28px;
  background-color: var(--neutral);
  border-radius: 20px;
}

#health-status>div .right-box div:last-child svg {
  margin-right: -8px;
}

#health-status>div .left-box svg:nth-child(4) {
  position: absolute;
  width: 100%;
  left: 0px;
}

#health-status p {
  line-height: 20px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#health-status>div .highlight {
  font-size: 20px;
  font-weight: 600;
}

/* @media screen and (min-width: 481px) {
  header input {
    align-self: center;
      width: 100%;
  }
}
*/