@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  padding: 1rem;
  margin: 0;
}

/* Section_01 Maschera immagine */

#section_01 .img-mask {
  background-image: url(img/HotMilk.png);
  height: 200px;
  width: 200px;
  background-position: center;
  border-radius: 20px;
  background-size: auto 100%;
}

/* #section_01 .img-mask img {
  border: 1px solid orange;
  position: absolute;
  width: 100%;
}
 */