@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  padding: 1rem;
  margin: 0;
}

/* Section_01 Maschera immagine */

#section_01 .img-mask {
  background-color: pink;
  position: relative;
  /* height: 200px; */
  width: 300px;
  border-radius: 20px;
}

#section_01 .img-mask img {
  border: 1px solid orange;
  position: absolute;
  width: 100%;
}