@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  padding: 1rem;
  margin: 0;
}

/* Section_01 Maschera immagine */

#section_01 .img-mask {
  border: 1px solid pink;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#section_01 .img-mask img {
  border: 1px solid orange;
  max-height: 200px;
    width: auto;
    height: auto;
    border-radius: 20px;
    /* width: 100%;
    height: 250px; */
}