/* @media screen and (min-width: 481px) */
/* {width: auto} */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
      font-family: 'Work Sans', sans-serif;
      font-style: normal;
      overflow-y: scroll;
    }
  

.menù {

        display: flex;
        flex-direction : row;
        gap: 15px;
}

input {
        background-color: #F4F4F4;
        border-radius: 24px;
        border: none;
        width: 280px;
        height: 50px;
        font-weight: 400;
        font-size: 14px;
        padding-left: 50px;
      }

header svg {
                position: absolute;
                margin-left: 20px;
                margin-top: 17px;
            }

header button { 
                width: 50px;
                height: 50px;
                border-radius: 16px;
                border-style:none;
            }

header button svg {
                    position: relative;
                    right: 10px;
                    bottom: 5px;

                  }

.sushi, .fries, .chinese {
                            display: flex;                       
                            flex-direction: row;
                            padding: 5px;
                            width: 116px;
                            height: 56px;
                            align-items: center;
                         }

.categories {
                display: flex;
                flex-direction: row;
                gap: 10px;
             }   
             
.categories svg {padding: 5px;}

.categories button {
                    border-radius: 16px;
                    border-style: none;
                    padding: 10px;
                    }

.hashtag {
            display: flex;
            flex-direction: row;
            gap: 5px;
         }

.hashtag button {   
                    border-radius: 16px;
                    border-style: none;
                    margin-bottom: 10px;
                }

.delivery {
            display: flex;
            align-items: center;
            gap: 10px;
            }
.restaurants p {
                margin-top: 5px;
                margin-bottom: 5px;
                }

.restaurants span {
                    background: rgba(82, 82, 82, 0.5);
                    border-radius: 8px;
                    backdrop-filter: blur(10px);
                    padding: 7px 5px 7px 5px;
                    color: white;
                    position:absolute;
                    bottom:100px;
                    bottom: 20px;
                    right: 215px;
                  
                  }

.restaurants span + span {
                            position: absolute;
                            right: 30px;
                            padding-top: 5px;
                            padding-left: 10px
                          }

.nuovo button {
                  width: 82px;
                  height: 82px;
                  border-radius: 50px;
                  border-style: none;
                  margin-left: 125px;
                  -webkit-box-shadow: 0px -3px 15px 5px #AEAEAE; 
                  box-shadow: 0px -3px 15px 5px #AEAEAE;
                  
              }

        