* {
  margin: 0;
  padding: 0;
}
body {
  margin: 1rem;
  background-color: grey;
}
.card {
  width: 22.1875rem;
  height: 24.0625rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
}
.card > img {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
}
.card > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card > div > p {
  font-size: 1.5rem;
}
.card__title {
  margin-top: 1rem;
}
.card__button {
  margin-top: 1rem;
}
.card__button > div {
  display: flex;
  gap: 16px;
}
.card__button > div span,
.card__button > button {
  padding: 0.5rem 1rem;
  border: 2px solid orange;
  border-radius: 0.375rem;
  color: orange;
}
.card__button > button {
  background-color: grey;
}
