@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ---------- ROOT VARIABLES ---------- */
:root {
  --color-background: #242731;
  --color-background-2: #1f2128;
  --color-backgroud-3: #2b2e38;
  --color-white: #fff;
  --color-light: #292e3d;
  --color-info-dark: #bfc3c9;
  --color-primary: #a162f7;
  --color-gray-dark: #808191;
  --color-secondary-red: #ff6370;

  --card-border-radius: 0.875rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1rem 1.75rem;
  --padding-1: 1.2rem;

  --box-shadow: 0px 20px 100px rgba(3, 3, 3, 0.25);
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  width: 83.75rem;
  height: 64rem;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--color-background);
  color: var(--color-white);
  font-size: 0.8rem;
  user-select: none;
  overflow-x: hidden;
}
.container {
  display: grid;
  width: 96%;
  margin: 0;
  grid-template-columns: 15.625rem 68.125rem;
}
a {
  color: var(--color-white);
}
img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-weight: 500;
  font-size: 0.9rem;
}

.profile-photo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--color-info-dark);
}

aside {
  height: 100vh;
}
aside .logo {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.5rem;
  margin-top: 1.4rem;
}
aside .logo span {
  padding: 0.3rem;
  background-color: var(--color-primary);
}

/* ==================== SIDEBAR ==================== */
aside .sidebar {
  height: 85vh;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 3rem;
  gap: 1rem;
}
aside .sidebar a {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: 0.5rem;
  color: var(--color-info-dark);
  position: relative;
}

aside .sidebar a span {
  font-size: 1.6rem;
  padding: 0.5rem 0;
  transition: all 1000ms ease;
}

aside .sidebar .sidebar__bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  bottom: 2rem;
  width: 100%;
}
aside .sidebar a.active {
  background-color: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}
aside .sidebar a.active::before {
  content: '';
  width: 6px;
  height: 100%;
  background-color: var(--color-primary);
}
aside .sidebar a.active span {
  margin-left: calc(1rem - 6px);
}
aside .sidebar a:hover {
  color: var(--color-primary);
}
aside .sidebar a:hover span {
  margin-left: 1rem;
}
/* ================== NAVBAR ================= */
.navbar,
.navbar__photo,
.navbar__search {
  display: flex;
  align-items: center;
  color: var(--color-info-dark);
  gap: 1rem;
}
.navbar {
  padding: 1rem 2rem;
  justify-content: space-between;
}
.navbar__photo img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.navbar__search {
  background-color: var(--color-background-2);
  padding: 0.5rem 4rem 0.5rem 1rem;
  border-radius: 0.5rem;
}
.navbar__search input[type='text'] {
  background-color: transparent;
}
/* =============== MAIN CONTEINERS ==========*/
.main__container {
  background-color: var(--color-background-2);
  padding: 1.75rem 1.875rem;
}
/* DASHBOARD */
/* =============== MAIN CARDS ================ */
.section__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;
}
.section__cards > div {
  display: flex;
  background-color: var(--color-background);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  overflow: hidden;
  /*box-shadow: var(--box-shadow);*/
  transition: all 500ms ease;
}
.section__cards > div:hover {
  box-shadow: none;
}
.section__cards > div span {
  background-color: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  margin-bottom: 1.25rem;
}
.section__cards > div.section__cards__2 span {
  background-color: #fb5b56bd;
  color: #fb5b56;
}
.section__cards > div.section__cards__3 span {
  background-color: #569efbbd;
  color: #569efb;
}
.section__cards > div.section__cards__4 span {
  background-color: #d2fb56bd;
  color: #d2fb56;
}

div.circle {
  position: relative;
}
div.circle svg circle {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 0.7rem;
}
div.circle .number {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle svg circle.stroke-red {
  stroke: #fb5b56;
}
.circle svg circle.stroke-blue {
  stroke: #569efb;
}
.section__cards .circle svg circle.stroke-yellow {
  stroke: #d2fb56;
}
/* ============== MAIN STATISTICS ================*/
.main__statistics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
  margin-top: 30px;
}
.main__statistics > div {
  background-color: var(--color-background);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* ================== MAIN CAR =========== */
.main__car {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
  margin-top: 30px;
}
.main__car > div {
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__car__1 {
  background-color: #e1dfa4;
}
.main__car__2 {
  background-color: #e3ecf1;
}
.main__car__3 {
  background-color: #f4e3e5;
}
.main__car > div .recommend {
  display: flex;
  align-items: center;
  color: var(--color-light);
}
.main__car > div .recommend h3 {
  padding-left: 0.2rem;
}
.car__name h2 {
  color: var(--color-light);
}
.car__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-light);
}
.car__bottom__left {
  display: flex;
  align-items: center;
}
/* ASSETS */
/* ============ MAIN CONTAINER ========== */
.main__container > h1 {
  margin-bottom: 20px;
}
.assets {
  display: grid;
  grid-template-columns: 22.5rem 1fr;
  gap: 1.875rem;
}
.main__container__left {
  position: relative;
  height: 821px;
}
.main__container__left__text {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background);
  height: 676px;
  padding: 31px 24px;
  border-radius: var(--card-border-radius);
}
.main__container__left__text p {
  color: var(--color-gray-dark);
  font-size: 1rem;
}

.main__container__left__text > div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.main__container__left img {
  position: absolute;
  top: 150px;
}

/*======================================= */
.main__container__right {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.main__container__right--activity {
  background-color: var(--color-background);
  padding: 1.75rem 24px;
  border-radius: var(--card-border-radius);
}
.main__container__right--activity > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ====================================== */
.main__container__right--noties {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
}
.main__container__right--noties > div {
  background-color: var(--color-background);
  border-radius: var(--card-border-radius);
  padding: 0.8125rem 1.25rem;
}
.noties--container {
  display: flex;
  align-items: center;
  gap: 14.4px;
  margin-bottom: 1.125rem;
}
.noties--title > h2 {
  font-size: 20px;
  margin-bottom: 1rem;
}
.noties--container--logo {
  background-color: var(--color-backgroud-3);
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
}
.noties--container--text h2 {
  font-size: 14px;
  font-weight: 400;
}
.noties--container--text p {
  font-size: 11px;
  font-weight: 400;
  color: var(--color-gray-dark);
}
.noties--container--text .p-noties {
  font-size: 10px;
  background-color: var(--color-backgroud-3);
  font-weight: 400;
  padding: 3px 10px;
  width: 6.25rem;
  color: #fff;
  border-radius: var(--border-radius-1);
}
.p-noties--active {
  background-color: #d2fb56;
  border-radius: var(--border-radius-1);
  padding: 3px 10px;
  width: 100px;
}
/* ====================================== */
.available--form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.available--title > h2 {
  font-size: 20px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-backgroud-3);
}
.available--form + input[type='submit'] {
  background-color: var(--color-secondary-red);
  color: var(--color-white);
  border-radius: var(--border-radius-1);
  padding: 0.625rem 0.75rem;
  font-size: 0.875rem;
}
.available--form > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/* ====================================== */
.main__container__right--reminder {
  background-color: var(--color-background);
  border-radius: var(--card-border-radius);
  padding: 0.8125rem 1.25rem;
}
.reminder--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reminder--title input {
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 100px;
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius-1);
}
table,
th,
td {
  border-top: 1px solid var(--color-gray-dark);
  padding: 0.875rem 0;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  width: 20%;
  color: var(--color-gray-dark);
  font-size: 0.875rem;
}
td {
  font-size: 0.7rem;
}
td,
th {
  text-align: left;
}
tr:hover {
  background-color: var(--color-backgroud-3);
  color: var(--color-primary);
}
/* ============ MEDIA QUERY ============= */
@media screen and (min-width: 1340px) {
  body {
    margin: 0 auto;
  }
}
