@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
}

/* #elemento {
  margin: 2rem;
  width: 400px;
  height: 400px;
  background-color: yellow
} */

#input-css {
  width: 70%;
  height: 30px;
  border-radius: 10px;
}

input,
button {
  padding: 5px 15px;
  font-size: 18px;
}