*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
header{background: #F6EBDA; height: 100vh; padding: 20px;}
a{text-decoration: none; color: black;}
.logo{
    /* border: 1px solid red; */
    width: 155px;
    padding: 20px;
}
nav{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    margin: 0px 100px;
}
li{
    list-style: none;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
}
li a:hover{
    color: #FF912B;
    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.svg{
    width: 25px;
    position: relative;
    /* top: 7px; */
    left: 38px;
    z-index: 9;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
input{
    border-radius: 30px;
    /* border: 2px solid rgb(185, 182, 182); */
    border: 0px;
    text-align: center;
    height: 35px;
    width: 217px;
    padding-left: 10px;
    filter: drop-shadow(6px 2px 24px rgba(0, 0, 0, 0.13));
    outline:none;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.6);
}

#searc{ z-index: 9; display: flex; margin: 0px 27px 0px 0px;}
.shop{ display: flex; z-index: 999;}
.bg_hero{
    position: absolute;
    width: 490px;
    height: 385px;
    left: 783px;
    top: -23px;
    background: url('../img/bg_hero.png');
    
}
.hero{

    /* border: 1px solid red; */
    width: 372px;
    height: 345px;
    background-color:#2F2105;
    border-radius: 49%;
    position: absolute;
    right: 163px;
    top: 165px;
}
.img_cap{
    height: 285px;
    padding-left: 53px;
}
.intro{
    /* border: 1px solid red; */
    height: 261px;
    width: 404px;
    position: relative;
    left: 28px;
    top: 91px;
}
.intro h1{
    font-size: 48px;
}
h1 span{color: #FF912B;}
.btn{
    position: absolute;
    bottom: 5px;
    width: 160px;
    height: 40px;
    border-radius: 30px;
    background: #2F2105;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.btn_img{
    position: absolute;
    left: 128px;
    top: 224px;
}
.btn__hero{
    
    width: 198px;
    height: 40px;
    border-radius: 30px;
    border: 0px;
    filter: drop-shadow(-2px 19px 32px rgba(48, 45, 38, 0.19));
    cursor: pointer;
    font-weight: bolder;
    
}
.bor_der{
    position: relative;
    width: 59%;
    top: -281px;
    left: -23px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 31px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(2px);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.6);
    border-radius: 30px;
}


/*----------------------------------BG Cover-------------------------------------*/

.bg-cover{
    display: flex;

   
}
.img__bgcover{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    right: 0px;
    top: -2px;
    z-index: 0;
}
.bg-cover__text{width: 50%;padding: 30px;}
.bg-cover__title{width: 50%;padding: 50px;display: flex;align-items: center;}
  
@media (max-width: 768px) {
    .bg-cover{flex-wrap: wrap; height: auto;}
    .bg-cover__text,
    .bg-cover__title{width: 100%;}
}

.btn__hero2{
    width: 139px;
    height: 40px;
    border-radius: 30px;
    border: 0px;
    filter: drop-shadow(-2px 19px 32px rgba(48, 45, 38, 0.19));
    cursor: pointer;
    font-weight: bolder;
}
.bor_der2{
    position: absolute;
    top: 263px;
    width: 43%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 31px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(2px);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.6);
    border-radius: 30px;
}
.btn__hero3{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border: 0px;
    filter: drop-shadow(-2px 19px 32px rgba(48, 45, 38, 0.19));
    cursor: pointer;
    font-weight: bolder;
    
}
.bor_der3{
    position: absolute;
    top: 34px;
    right: -7px;
    width: 33%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 31px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(2px);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.6);
    border-radius: 30px;
}
.hero3__img{
    position: absolute;
    top: 16px;
    right: 19px;
}
.container_caffe{
    background: #F6EBDA;
}
.container{
    width: 520px;
    height: 376px;
    display: flex;
    /* border: 1px solid red; */
    background-image: url('../img/bg_hero.png');
    align-content: center;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}
.container h2 span{
    border-bottom:3px solid #FF912B;
    border-radius: 1px;
}
.container__card{
    display: flex;
    width: 100%;
    border: 1px solid red;
}
.background-card{
    /* background: #F9D9AA;  */
    border-radius: 38px;
    width: 90%;
    height: 285px;
    margin: 0px 55px;
    background-image: url('../img/linea.png');
}
.wrap{
    display: flex;
    margin: 0% 10%;
}
