@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
body {
font-family: 'Lato', sans-serif;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    background-color: beige;

}

div {
    font-family: 2rem;

}


nav {
    margin-left: 30px;
}

a {
    text-decoration: none;

}

ul {
    display: flex;
    flex-direction: row;
    width: 27%;
    justify-content: space-between;
    padding: 30px 600px;
}

.logo {
    position: absolute;
width: 150px;
height: 30px;
left: 135px;
top: 41px;

    
}

nav > ul > li > a {
    color: black;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding-left: 40%;
    top: 36px;
    width: 1161px;
    height: 40px;
    left: 135px;
    
}

div.searchbar {
    flex-direction: row;
    display: flex;
color: #f2f2f2;
text-decoration: none;
padding: 0px 10px;
}

svg.carrello {
    display: flex;
    padding: 10px 0px;
}



/* padding-left: 68%;
width: 222px;
height: 40px;
left: 1018px;
top: -20px;
border-radius: 35px;
top: 36px;
border: none; */