* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

img {
    width: 100%;
    height: auto;
}

/* utilieties */

.main-container {
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 1.5rem;

}

h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
}

h2 span {
    border-bottom: 5px solid #FF902B;
}

.d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* delivery section */

.delivery-step {
    padding: 1rem;
    min-width: 10%;
}

.delivery-step > * {
    padding: .5rem 0;
}




.delivery-img {
    max-width: 60%;
    margin-inline: auto;
}

.about-text {
    flex-basis: 40%;
}

.about-text > * {
    padding: 2rem 0 0;
}

.about-img {
    flex-basis: 25%;
}



.btn-brown {
    border-radius: 2em;
    padding: 0.75em 1.5em ;
    margin-top: 1em;
    border: 0;
    background-color: #2F2105;
    color: #FF902B;
    font-weight: 600;
}


.about-us {
    margin: 2rem 0;
    padding: 2rem 1rem;
    background-color: #F6EBDA;
}


@media (min-width: 992px) {

    /* media delle utilieties */
    .main-container {
        /* padding: 4rem; */
    }

    .d-flex {
        flex-direction: row;
        justify-content: space-evenly;
    }


    /* media della sezione ABOUT */

    .about-us {
        position: relative;
        padding: 0 0 5%;
        margin-top: 10%;

    }

    .about-img {
        margin-top: -100px;
    }

    .baseline {
        align-items: flex-end;
    }
    
}