@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  width: 100%;
  height: 100%;
}
header {
  background-color: #f6ebda;
}
nav,
div.under-nav {
  margin-left: 5rem;
  margin-right: 5rem;
}
div.under-nav {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/* NAV BAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}
nav > ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  font-size: 1.25rem;
}
li.about-us {
  color: orange;
}
div.nav-reserch {
  display: flex;
  gap: 1rem;
}
#reserchbar {
  border-radius: 1.25rem;
  border: none;
  padding-left: 2.5rem;
}
.lente {
  position: absolute;
  margin-left: 0.625rem;
  margin-top: 0.3125rem;
}
/* CONTENT HERO */
section.content-hero {
  width: 31.25rem;
  margin-top: 5rem;
}
h1.title,
p.subtitle,
button.order-now {
  margin-top: 1.25rem;
}
h1.title,
h1.title > span {
  font-size: 3rem;
  font-weight: 600;
}
h1.title > span {
  color: orange;
}
p.subtitle {
  font-weight: 400;
  width: 25rem;
  color: #7e7d7a;
}
button.order-now {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 1rem;
  background-color: #2f2105;
  color: white;
  align-content: center;
  display: flex;
  gap: 0.3125rem;
  align-content: center;
}

.svg-shop,
.svg-shop-card {
  background-color: #ff912b;
  border: none;
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
  padding: 0.3125rem;
}

/* IMG-HER*/
div.eclipse {
  position: relative;
  text-align: center;
  background-color: #2f2105;
  width: 26.25rem;
  height: 26.25rem;
  border-radius: 50%;
}
div.eclipse span {
  background-color: #fff;
  padding: 0.5rem 3rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  border: 0.25rem solid #7e7d7a39;
  font-weight: 600;
}
div.eclipse > span.capuccino-eclipse {
  position: absolute;
  left: -5rem;
  top: 2rem;
}
div.eclipse > div.score-div-eclipse {
  position: absolute;
  right: -2rem;
  top: 6rem;
}
div.eclipse > span.price-eclipse {
  position: absolute;
  left: 0rem;
  bottom: 2rem;
}
.svg-star {
  width: 1.875rem;
  height: 1.875rem;
}

/* IMG bg-imh-hero*/
div.img-header-down-left {
  position: relative;
  margin-left: 1rem;
}
div.img-header-down-left > span {
  position: absolute;
  font-weight: 600;
  font-size: 2.5rem;
  left: 4rem;
  top: 5rem;
}
div.img-header-up-right {
  position: absolute;
  right: 0;
  top: -2rem;
}

main > section {
  position: relative;
  width: 79rem;
  height: 22.9375rem;
  background-color: #f9d9aa;
  border-radius: 5rem;
  margin-top: -8rem;
  left: 13rem;
}
#container {
  position: absolute;
  left: 5.5rem;
  top: -8rem;
}
#container-drink {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}
div.card {
  background-color: #fff;
  border: 6px solid #ffcc1359;
  width: 22.25rem;
  height: 23.125rem;
  border-radius: 0.75rem;
}
div.card > img {
  width: 18.75rem;
  height: 13.75rem;
  border-radius: 0.625rem;
  margin: 1.4rem 1.4rem 0rem 1.4rem;
}
.name-drink {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.name-drink > p {
  font-size: 1.5rem;
  padding: 0 2rem;
}
.price-drink {
  font-weight: 600;
}
.choose-drink {
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  align-items: center;
}
.temp-drink > span {
  padding: 0 1rem;
  margin-right: 1rem;
}
span.drink {
  border: 0.125rem solid #ffd28f;
  color: #ffd28f;
  border-radius: 0.625rem;
}
span.hot {
  border: 0.125rem solid #ff912b;
  color: #ff912b;
  border-radius: 0.625rem;
}
.svg-shop-card {
  width: 2.75rem;
  height: 2.75rem;
  padding: 0.5rem;
}
