@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}
header {
  background-color: #f6ebda;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 1.25rem;
}
nav > ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  font-size: 1.25rem;
}
li.about-us {
  color: orange;
}
div.nav-reserch {
  display: flex;
  gap: 1rem;
}
#reserchbar {
  border-radius: 20px;
  border: none;
  padding-left: 2.5rem;
}
.lente {
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
}
