@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Lato:wght@300;400;700&display=swap');

html,body {
    font-family: 'Lato', sans-serif;
    background:  #181823;
    padding: 0 ;
    margin: 0%;
}
/* TECH-WORLD */

nav {
    display: inline;
    float: left;
    background-color: black;
    width: 100vw;
    padding-left: 5rem;
    font-weight: bold;
    box-sizing: border-box;

    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
        background-color: black;
}

nav ul a {
    text-decoration: none; 
    color: rgb(240, 56, 117);
    font-size: 1.1rem;
    font-size: 1.85rem;
    font-family: Lato;
    font-style: bold;
    font-weight: 5.625rem;
        font-size: 1.875rem;
}

