header {
    padding: 1rem;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    background-color: #ccc;
    width: 100%;
    padding-left: 2rem;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 0.5rem;
    border: 0;
}

.input {
    position: relative;
}

.lents {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.contacted {
    padding: 0.3rem 0.2rem;
    display: flex;
    gap: 0.5rem;
}

section {
    padding: 0.2rem 0.4rem;
    border-radius: 2rem;
    box-shadow: 0.1rem 0.1rem 0.3rem #8888;
    width: 100%;
}

article {
    display: flex;
    align-items: initial;
    margin: 1rem 0rem;
}

.section_right {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.section_right h4,
p {
    margin: 0.1rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}