.card{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px 5px lightsteelblue;
    display: flex;
    justify-content: center;
    align-items: column-reverse;
}
.toast{
    position:absolute;
    margin-top: 30px;
    border-radius: 10px;
}
.card .star{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 30px;
    width: 80px;
    margin-top: 40px;
    margin-left: -200px;
    border-radius: 25px;
    border: 6px solid rgba(0, 0, 0, 0.2);
}
.star p{
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.card #title{
    position:absolute;
    margin-top: 280px;
    margin-left: -30px;
    font-family: 'Courier New', Courier, monospace;
    font-size:25px ;
}
#title span{
    margin-left: 100px;
}
.description{
    margin-left: -110px;
    width: 200px;
}
.card .description{
    position: absolute;
    margin-top: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: grey;
}
#carrello{
    position: absolute;
    margin-left: 205px;
    margin-top: 310px;
    padding: 15px;
    background-color: orange;
    border-radius: 25px;
    display: flex;
}