@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
textarea,
input {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  border: none;
  color: #c7e0fa;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a,
a:hover,
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: #deecf9;
}
/*---------rules----------*/
p {
  font-weight: 400;
}
section p {
  font-size: 1.125rem; /*18px*/
  line-height: 2.375rem; /*38px*/
}
h3 {
  font-size: 1.5rem; /*24px*/
}
h2 {
  font-size: 2.25rem; /*36px*/
}
h1 {
  font-size: 3.5rem;
}
/*---------colors----------*/
.website_color {
  color: #f03a76;
}
.website_color_border {
  border-color: #f03a76;
  background-color: #f03a76;
}
.violet_border {
  border-color: #683cb8;
  background-color: #683cb8;
}
.light_blue_border {
  border-color: #14b8e4;
  background-color: #14b8e4;
}
.bg_color_black {
  background-color: #000;
}
.bg_light_grey {
  background-color: #181823;
}
/*---------hr style----------*/
hr {
  width: 70px;
  height: 0px;
  border: 3px solid;
  border-radius: 5px;
}
/*-------------menu-------------*/
#nav_bar {
  width: 100%;
  min-height: 100px;
  height: auto;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 272px;
  padding-left: 250px;
  background-color: #000;
}
.menu_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
}
.menu_content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #f03a76;
}
.menu_btn {
  background-color: #ffffff00;
  color: #ffff;
  line-height: 1.375rem;
  border: none;
}
.menu:hover .menu_content {
  display: block;
}
.logo p {
  color: #f03a76;
  font-weight: bold;
  font-size: 1.875rem;

  line-height: 178.5%;
}
/*-------------hero---------------*/
#hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 1050px;
  height: auto;
  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
#hero > div {
  display: flex;
  flex-direction: column;
  height: 153px;
  width: 524px;
  gap: 10px;
}
#hero > h1 {
  line-height: 4.75rem;
}
#hero > div > button {
  width: 232px;
  background: #f03a76;
  padding: 10px 50px;
  border-radius: 50px;
  letter-spacing: 0.005em;
}
/*-------------service---------------*/
/* service box section */
#service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #181823;
  gap: 50px;
  min-height: 700px;
  width: 100%;
}
/* Title section div + hr + paragraph  */
#service > div:first-child {
  display: flex;
  flex-direction: column;
  max-width: 749px;
  max-width: 749px;
  gap: 20px;
  height: auto;
  text-align: center;
}
/*Service_box div */
#service > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
/*Service_box containers */
.service_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 389px;
  height: 337px;
  max-width: 389px;
  max-height: 337px;
  border-radius: 15px;
  background: #000000;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
}
.service_box p {
  font-size: 0.875rem;
  line-height: 1.5625rem;
  width: 332px;
  height: 74px;
}
.service_box img {
  width: 175px;
  height: 129px;
}
/*--------------generic-section style--------*/
.generic_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 700px;
  width: 100%;
}
/*generic_section div*/
.generic_section > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.generic_section #world_image {
  width: 500px;
  height: auto;
}
.generic_section #man_image {
  width: 560px;
  height: auto;
}
.generic_section #portfolio_image {
  width: 740px;
  height: 460px;
}
.generic_section > div > h2 {
  max-width: 554px;
}
.generic_section > div > p {
  max-width: 554px;
  min-height: 114px;
  letter-spacing: 0.005em;
}
.generic_section hr {
  margin: 0;
}
/*--------------form-section style--------*/
#form_section {
  width: 100%;
  min-height: 500px;
}
/* Contact_us div container */
#form_section > div {
  text-align: center;
}
#form_section > form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 60px;
  margin-top: 80px;
}
#form_section > form > div > button {
  background: #f03a76;
  padding: 10px 50px;
  border-radius: 50px;
  letter-spacing: 0.005em;
  margin-left: 70%;
  font-size: 1.5rem;
  color: #fff;
}
/* Div inside the form that contain input elements */
#form_section > form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
#form_section input {
  min-width: 589px;
  min-height: 50px;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  background-color: #ffffff00;
  padding: 20px;
  color: #fff;
}
#form_section textarea {
  min-width: 589px;
  min-height: 150px;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  background-color: #ffffff00;
  color: #fff;
  font-size: 1rem;
  padding: 20px;
}
input::placeholder,
#form_section textarea::placeholder {
  font-weight: 400;
  color: #fff;
  font-size: 1rem;
}
form > div > span {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
/*--------------footer style--------*/
#footer_content {
  min-height: 437px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
#footer_content > div {
  margin-top: 100px;
}
#footer_content > div > p[target="tech"] {
  display: flex;
  align-items: center;
  gap: 30px;
}
/*---------tech world span style-------*/
#footer_content > div > p[target="tech"] span:first-child {
  font-size: 1.875rem;
  font-weight: 900;
}
/*---------tech world p text-------*/
#footer_content:nth-child(4) .footer_list > p {
  line-height: 2rem;
  max-width: 517px;
  max-height: 133px;
}
/*----------mobile style------------------*/
@media screen and (max-width: 768px) {
  /*----generic section-----------*/
  .generic_section #world_image,
  .generic_section #man_image,
  .generic_section #portfolio_image {
    width: 240px;
    height: auto;
    margin: 40px 40px;
  }
  .generic_section {
    text-align: center;
  }
  .generic_section > div {
    gap: 70px;
  }
  .generic_section > div > p,
  .generic_section > div > h2 {
    min-width: 30px;
    min-height: auto;
    height: auto;
  }
  .generic_section hr {
    text-align: center;
    margin: auto;
  }
  /*----header-----------*/
  #nav_bar {
    justify-content: center;
    padding: 0;
    gap: 20px;
  }
  #hero {
    gap: 8.25rem;
    text-align: center;
  }
  #hero > div > button {
    align-self: center;
  }
  #hero > span > img {
    width: 350px;
    height: auto;
  }
  /*----form-----------*/
  #form_section input {
    min-width: 289px;
    min-height: 50px;
  }
  #form_section textarea {
    min-width: 289px;
    min-height: 150px;
  }
  #footer_content {
    height: 837px;
  }
}
