*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
header{background: #F6EBDA; height: 100vh; padding: 20px;}
a{text-decoration: none; color: black;}
.logo{
    /* border: 1px solid red; */
    width: 155px;
    padding: 20px;
    z-index: 9999;
}
nav{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    margin: 0px 100px;
}
ul li{
    list-style: none;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
}
ul li a:hover{
    color: #FF912B;
    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.svg{
    width: 25px;
    position: relative;
    /* top: 7px; */
    left: 38px;
    z-index: 9;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.inp__ut{
    border-radius: 30px;
    /* border: 2px solid rgb(185, 182, 182); */
    border: 0px;
    text-align: center;
    height: 35px;
    width: 217px;
    padding-left: 10px;
    filter: drop-shadow(6px 2px 24px rgba(0, 0, 0, 0.13));
    outline:none;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.6);
}

#searc{ z-index: 9; display: flex; margin: 0px 27px 0px 0px;}
.shop{ display: flex; z-index: 999;}
.bg_hero{
    position: absolute;
    width: 490px;
    height: 385px;
    left: 783px;
    top: -23px;
    background: url('../img/bg_hero.png');
    
}
.hero{

    /* border: 1px solid red; */
    width: 372px;
    height: 345px;
    background-color:#2F2105;
    border-radius: 49%;
    position: absolute;
    right: 163px;
    top: 165px;
}
.img_cap{
    height: 285px;
    padding-left: 53px;
}
.intro{
    /* border: 1px solid red; */
    height: 261px;
    width: 404px;
    position: relative;
    left: 28px;
    top: 91px;
}
.intro h1{
    font-size: 48px;
}
.intro p{
    margin: 30px 0px;
}
h1 span{color: #FF912B;}
.btn{
    position: absolute;
    bottom: 5px;
    width: 160px;
    height: 40px;
    border-radius: 30px;
    background: #2F2105;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.btn_img{
    position: absolute;
    left: 128px;
    top: 224px;
}
.btn__hero{
    
    width: 198px;
    height: 40px;
    border-radius: 30px;
    border: 0px;
    filter: drop-shadow(-2px 19px 32px rgba(48, 45, 38, 0.19));
    cursor: pointer;
    font-weight: bolder;
    
}
.bor_der{
    position: relative;
    width: 59%;
    top: -281px;
    left: -23px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 31px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(2px);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.6);
    border-radius: 30px;
}


/*----------------------------------BG Cover-------------------------------------*/

.bg-cover{
    display: flex;

   
}
.img__bgcover{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    right: 0px;
    top: -2px;
    z-index: 0;
}
.bg-cover__text{width: 50%;padding: 30px;}
.bg-cover__title{width: 50%;padding: 50px;display: flex;align-items: center;}
  
@media (max-width: 768px) {
    .bg-cover{flex-wrap: wrap; height: auto;}
    .bg-cover__text,
    .bg-cover__title{width: 100%;}
}

.btn__hero2{
    width: 139px;
    height: 40px;
    border-radius: 30px;
    border: 0px;
    filter: drop-shadow(-2px 19px 32px rgba(48, 45, 38, 0.19));
    cursor: pointer;
    font-weight: bolder;
}
.bor_der2{
    position: absolute;
    top: 263px;
    width: 43%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 31px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(2px);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.6);
    border-radius: 30px;
}
.btn__hero3{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border: 0px;
    filter: drop-shadow(-2px 19px 32px rgba(48, 45, 38, 0.19));
    cursor: pointer;
    font-weight: bolder;
    
}
.bor_der3{
    position: absolute;
    top: 34px;
    right: -7px;
    width: 33%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 31px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(2px);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.6);
    border-radius: 30px;
}
.hero3__img{
    position: absolute;
    top: 16px;
    right: 19px;
}




.container_caffe{
    background: #F6EBDA;
}
.container{
    width: 490px;
    height: 376px;
    display: flex;
    /* border: 1px solid red; */
    background-image: url('../img/bg_img.png');
    font-size: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 86px;
    align-content: flex-start;
}
.container h2 span{
    border-bottom:3px solid #FF912B;
    border-radius: 1px;
}
.container__card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    /* border: 1px solid red; */
}

.backgr_imag{
    width: 100%;
    height: 383px;
    margin: -130px 0px 0px 0px;
}
.wrap{
    display: flex;
    /* margin: 0% 10%; */
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 428px;
    left: 30px;

}
.card{
    width: 330px;
    height: 368px;
    background: #ffff;
    /* border: 1px solid red; */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 13px 15px;
    
}
.card__img{
    margin-top: -55px;
    width: 287px;
    height: 200px;
    border-radius: 10px;
    
}
.text_card{
    margin-right: 125px;
    margin-top: 17px;
    font-size: 17px;
}
/* Helpers */
.m-r{
    margin-right: 35px;
}
.m-l{
    margin-left: 4px;
}
.score{
    display: flex;
    margin-top: 14px;
}
.conteiner_btn_card{
    /* border: 2px solid red; */
    width: 270px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    bottom: 23px;
}
.card_btn{
    
}
.btn_card_footer{
    width: 46px;
    height: 25px;
    color: #FFD28F;
    border: 2px solid #FFD28F;
    background: #ffff;
    border-radius: 7px;
    font-weight: bold;
}
.btn_card_footer:hover{
    color: #FF912B;
    border-color: #FF912B;
    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.shop_card{

}
.btn_shop_card{
    background-image: url('../img/Group\ 2.png');
    background-size: 98%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 34px;
    border: none;
}
.border_card{
    display: flex;
    height: 400px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(2px);
    -webkit-box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 60%);
    box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 60%);
    border-radius: 30px;
    margin: 0px 12px;
}

/* Responsive Layout */

@media (max-width: 768px) {
    .container__card{
        display: flex;
    }
    .backgr_imag{
        display: none;
    }
    ul{display: none;}
    .hero{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        top: -320px;
        left: 5px;
    }
    .container_caffe{
        margin-top: -130px;
    }
    .container{
        width: 100%;
    
        display: flex;
        font-size: 30px;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
    }
    .intro{
        height: 261px;
        width: 404px;
        position: relative;
        left: 28px;
        top: 445px; 
    }

    
    .intro p{
        margin: 10px 0px;
    }

    .wrap{
        display: flex;
        gap: 3rem;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 0px;
        left: 2px;
        background: #f6ebda;
    }
    .special__conteiner{
        gap: 2rem;
    }
}

/* Delivery style */
.text_delivery{
    margin: 30px 0px 0px 60px;
    font-size: 22px;
    font-weight: bold;
}
.text_delivery h2 span{
    border-bottom: 3px solid #FF912B;
}

.conteiner_info_delivery{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
}
.info_delivery{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.info_delivery h3{
    padding: 20px;
}

/* Style About */
.about{
    background: #F6EBDA;
    width: 100%;
    height: 440px;
    margin: 300px 0px 0px 0px;
    display: flex;
}
.about_section{
    /* border: 2px solid red; */
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.about-border{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(2px);
    -webkit-box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 60%);
    box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 60%);
    border-radius: 30px;
    margin-bottom: 177px;
    width: 387px;
    height: 519px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.about-card{
    height: 490px;
    width: 360px;
    background: url('../img/about-card.png');
    border-radius: 0px 0px 13px 13px;
}

.about_text{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.about_text h3 span{border-bottom: 2px solid #FF912B;}
.text-h3{
    font-size: 33px;
    font-weight: bold;
    margin: 35px 0px 30px 70px;
}
.text-h4{
    font-weight: bold;
    font-size: 24px;
    margin: 0px 0px 20px 70px;
    width: 270px;
}
.text-p{
    font-size: 18px;
    width: 331px;
    margin-left: 70px;
}
.about-btn{
    width: 145px;
    height: 38px;
    border-radius: 25px;
    background: #2F2105;
    color: #F4AE26;
    font-weight: bold;
    font-weight: bold;
    margin: 50px 0px 0px 67px;
}

@media  (max-width: 768px) {
    .about{
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
    }
    .about-border{
        margin-bottom: 0px;
    }
    .about_section{width: auto;}
    .about-btn{
        margin-bottom: 20px;
    }
}

.special__conteiner{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.special-menu {
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 70px;
    margin-bottom: 35px;
}
.special-menu h2 span{
    border-bottom: 3px solid #FF912B;
}

.border-card-menu{
    /* border: 3px solid red; */
    width: 371px;
    height: 400px;
    margin: 0px 20px 30px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(2px);
    -webkit-box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 60%);
    box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 60%);
    border-radius: 30px;
}

.card-menu{
    display: flex;
    width: 345px;
    height: 373px;
    /* border: 2px solid; */
    border-radius: 20px;
}
.card-menu-img{
    display: flex;
    width: 100%;
    height: 70%;
    border-radius: 18px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card-border_img{
    border-radius: 20px;
}
.titolo-card{
    height: 7%;
    display: flex;
    position: absolute;
    bottom: 98px;
    left: 32px;
    font-size: 19px;
}
.ti-span{
    margin-left: 168px;
}
.sp-ml{
    margin-left: 103px;
}
.span-ml{
    margin-left: 155px;
}

.descrip-card{
    display: flex;
    /* border: 2px solid; */
    height: 10%;
    width: 84%;
    position: absolute;
    bottom: 31px;
    left: 27px;
}

.descrip-card-p{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.descrip-card-btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 90px;
    height: 38px;
    width: 40px;
    border-radius: 30px;
    background: url('../img/Frame\ 5.png');
    background-size: contain;
    border: none;
}
.btn_b_img{
    display: flex;
    position: absolute;
    /* border: 2px solid; */
    top: 38px;
    left: 45px;
    height: 31px;
    width: 81px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(2px);
    -webkit-box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 60%);
    box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 60%);
    border-radius: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.btn_b{
    width: 62px; 
    background-color: #ffff;
    background-image: url('../img/akar-icons_star.png');
    width: 62px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

/********************************************************
Style sezione Customers 

*********************************************************/
.container-customers {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 30px;
}
.customers-img {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.piatti__img {

    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
    border-radius: 10px 10px 0px 0px;
    margin-left: 2px;
}
.piatti-misti {
    display: flex;
    height: 98%;
    flex-direction: row;
    flex-wrap: wrap;
}
.contei-misti1 {
    width: 47%;
    display: flex;
    background: url('../img/pit.png');
    background-repeat: no-repeat;
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
    border-radius: 10px 10px 0px 0px;
    margin-left: 2px;

}

.contei-misti2 {
    width: 47%;
    background: url('../img/carne.png');
    background-repeat: no-repeat;
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
    border-radius: 10px 10px 11px 0px;
    margin-left: 2px;
    
}
/********************************************************
Style sezione Recensioni

*********************************************************/
.recensioni{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.recensioni h3{
    color: #FFCB45;
    width: 22%;
    font-size: 23px;
    margin: 70px 0px 30px 0px;

}
.recensioni h2{
    font-size: 32px;
    font-weight: bold;
    width: 70%;
    margin-bottom: 25px;

}


.conteiner-wrap {
    width: 100%;
    overflow-x: scroll;
    cursor: pointer;
    
}



.fedb{
    /* border: 1px solid; */
    height: 200px;
    width: 475px;
    margin-bottom: 8px;
    background: #F1F1F1;
    border-radius: 10px;
}

.fedb h2{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}
.fedb-fot{
    width: 70px;
    height: 60px;
    background: url('../img/fed.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    /* border: 1px solid; */
}
.fedb-fot2{
    width: 70px;
    height: 60px;
    background: url('../img/fot2.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px; 
}
.conteiner-fed{
    overflow-x: scroll;
}
.wrap-fed{
    display: flex; 
    gap: 2rem;
    width: fit-content;
}
.conte__fed{
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    gap: 1rem;
    position: relative;
}
.stelle{
    display: flex;
    gap: 2rem;
    position: absolute;
    top: 45px;
    left: 80px;
}
.stelle span{
    width: 20px;
    height: 20px;
    /* border: 1px solid red; */
}
.stelle span:nth-child(-n+4){
    background: url('../img/Vector.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.stelle span:nth-child(5){
    background: url('../img/Vector\ metà.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.descri__paragra {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 20px;
    margin-top: 24px;
}
.paragra{
    font-size: 19px;
    flex-direction: row;
    display: flex;
}
@media (max-width: 768px) {
    ::-webkit-scrollbar{
        display: none;  /* Chrome Opera Safari */
    }
    .recensioni{margin-top: 85px;}
    .recensioni h3{width: 50%;}
    .container-customers{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}



/******************************************************************** 
Style newsletter 
*********************************************************************/
.sezione__News{margin-bottom: 100px;}
.contenitore-news{
    /* border: 1px solid red; */
    height: 66vh;
    margin: 10px;
    padding: 20px;
    border-radius: 37px;
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
    border-radius: 10px 10px 11px 0px;
}
.newsletter{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/newsletter.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 38px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.text__newsle{
    color: white;
    font-size: 25px;
}
.news__inpu{
    /* width: 100%; */
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
.news__inpu input{
    width: 100%;
    height: 45px;
    margin-left: 20px;
    /* border: 1px solid red; */
    border-radius: 42px;
    padding: 24px;
}
.news__Subm{
    /* border: 1px solid; */
    border-radius: 25px;
    position: absolute;
    right: 346px;
   
}
.news__Subm input{
    background: #2F2105;
    color: #ffff;
    height: 40px;
    width: 130px;
    border-radius: 30px;
    margin-left: 20px;
    font-size: 15px;
    padding: 11px;
    border: none;
}


@media (max-width: 768px) {
    .news__inpu input{
        margin-bottom: 30px;
    }
    
    .news__Subm{
       display: contents;

    }
}

/********************************************************************* 
Footer  
*********************************************************************/
footer{
    width: 100%;
    height: 489px;
    background: #F6EBDA;
}
.foot{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.descr-foot{
    height: 50%;
    /* border: 1px solid; */
    width: 70%;
    display: flex;
    border-bottom: 1px solid;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
.logo-foot{
    width: 352px;
    /* border: 1px solid; */
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}
.social {
    margin-left: -10px;
    display: flex;
    /* border: 1px solid; */
    width: 66px;
    height: 60px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 60px;
    padding-top: 10px;
}
.info-foot{
    display: flex;
    list-style: none;
    width: 75%;
    /* padding-left: 120px; */
}
.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 2rem; 
    width: 25%;
}
.info-titolo{ font-size: 18px;
    font-weight: bold; }
.info__Compa{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}
.in__fo{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem; 
    width: 25%;
    margin: 30px;
    justify-content: center;
}
.Copy {
    padding: 30px;
}