#screen {
    padding: 0.5rem 4.8rem;
}

#numeri-simboli {
    margin-top: 1rem;
    display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(4,1fr);
width: 300px;
gap: 0.5rem;
}

