div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#inputText {
    width: 22rem;
    height: 1.5rem;
}

#modificabile {
    margin: 32px;
    width: 400px;
    height: 400px;
    background: yellow;
    border: black;
   
}
