@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Remove padding and margin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  width: 75rem;
  background-color: #1e1e2e;
  color: #deecf9;
  font-family: 'Lato', sans-serif;
}
h2 {
  font-size: 1.5rem;
}
.color-pink {
  color: #f03875;
}
.hr-small {
  width: 3rem;
  border-radius: 0.3rem;
  padding: 0.15rem;
  border: none;
  background-color: #f03875;
}
p,
li {
  color: #c7e0fa;
}

.btn-pink {
  background-color: #f03a76;
  color: #fff;
  padding: 0.5rem 2.5rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  border: none;
  margin-top: 1rem;
}
/* HEADER */
/* NAV BAR */
.navbar {
  background-color: #000;
  display: flex;
}
.navbar > div {
  padding: 1rem 0rem 1rem 7rem;
}
/* HEADER CONTENT */
.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 5rem 10rem;
  background-color: #00000090;
}
.header__content__title {
  width: 50%;
  padding: 4rem;
}
.header__content__title h1,
.header__content__title p,
.header__content__title button {
  margin-top: 1.5rem;
}
.header__content__title h1 {
  font-size: 2.6rem;
  font-weight: 900;
}

.header__content__img {
  position: relative;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  background: linear-gradient(
    190.57deg,
    #ffffff -16.23%,
    rgba(255, 255, 255, 0) 112.53%
  );
  /* opacity: 0.3; */
}
.header__content__img__iphone {
  position: absolute;
  left: 4rem;
  top: -5rem;
}
.header__content__img__message {
  position: absolute;
  left: 10rem;
  top: 25rem;
  width: 100%;
}

/* MAIN */
/* DESCRIPTION */

.main__description {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.main__description > hr {
  margin: 0 auto;
}
.main__description > h2,
.main__description > hr,
.main__description > p {
  margin-top: 1rem;
}
/* CARD */
.main__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 3rem auto;
}
.main__cards > div {
  text-align: center;
  width: 30%;
  background-color: #000;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 1rem;
}
.main__cards h3,
.main__cards p {
  margin-top: 1rem;
}
.main__cards p {
  font-size: 0.8rem;
}
/* MAIN WORLD */
.main__world {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 5rem auto;
}
.main__world > div {
  margin: 0 1rem;
}
.main__world img {
  width: 25rem;
}
.main__world__description > hr,
.main__world__description > p {
  margin-top: 2rem;
}
.main__world__description > hr {
  background-color: #14b8e4;
}
/* MAIN TEAM */
.main__team {
  display: flex;
  align-items: center;
  padding: 0 8rem;
  background-color: #000;
}
.main__team__description > hr,
.main__team__description > p {
  margin-top: 2rem;
  line-height: 1.8rem;
}

.main__team__img > img {
  width: 30rem;
}
/* MAIN PORTFOLIO */
.main__portfolio {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 3rem auto;
}
.main__portfolio__description {
  padding: 0 2rem;
}
.main__portfolio__description > hr,
.main__portfolio__description > p {
  margin-top: 2rem;
  line-height: 1.8rem;
}
.main__portfolio__img > img {
  width: 37rem;
}
/* MAIN ABOUT */
.main__about {
  width: 80%;
  margin: 2rem auto;
}
.main__about__contact > hr,
.main__about__contact > h2 {
  margin: 0 auto;
  text-align: center;
  line-height: 3rem;
}
.main__about__input {
  display: flex;
  justify-content: space-evenly;
}
.main__about__input input,
.main__about__input textarea {
  width: 100%;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
}
.main__about__input label {
  margin: 0 1.25rem;
  display: inline-block;
}
.main__about__input input[type='submit'] {
  margin-top: 5rem;
  width: 50%;
  margin-left: 50%;
  background-color: #f03a76;
  color: #fff;
  padding: 0.5rem 2.5rem;
  border: none;
  font-size: 1.2rem;
}

/* FOOTER */
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  padding: 5rem 2rem;
}
.footer__link {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

footer > div {
  width: 40%;
}
.footer__link h3 {
  margin-bottom: 2rem;
}
.footer__link li {
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 0.8rem;
}
.footer__navigate li {
  list-style-type: '\00BB';
  padding-left: 0.5rem;
}
.footer__copyright--align {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.footer__copyright--align > p {
  padding-left: 1rem;
}
