@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

:root {
    --color-gray: #A8A8A8; 
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #262626;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    max-width: 400px;
    margin-inline: auto;
}

.d-flex {
    display: flex;
    /* width: 100%; */
}

.exit-nav {
    padding: 1rem 0 0.6rem;

}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.user {
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 2.2rem;
}

.space-around {
    justify-content: space-around;
}

h1 {
    font-size: 1.75rem;
    font-weight: 600;
}


h2 {
    font-size: 1.125rem;
    color: var(--color-gray);
    font-weight: 500;
}

.time-trained p,
.daily-streak p {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin-top: 0.25rem;
}

.choose {
    margin-top: 2.5rem;
    /* padding-bottom: 0.1rem; */
    border-bottom: 2px solid #a8a8a8;
    margin-bottom: 2.5rem;
}

h3 {
    color: var(--color-gray);
    font-weight: 500;
}

h3.active {
    color: #080809;
    padding-inline: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 4px solid #454545;
}

/* card */
.card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin-inline: auto;
    margin-bottom: 1.5rem;
}

img {
    width: 100%;
}

.card-img {
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.9);
}

.card h4 {
    margin-bottom: 0.6rem;
}

.card p {
    margin-bottom: 0.7rem;
}

progress {
    -webkit-appearance: none;
    border: 0;
    height: 5px;
    border-radius: 40px;  
}

  progress::-webkit-progress-value {
    background-color: #A8A8A8;
    border: 0;
    height: 5px;
    border-radius: 40px;  
  }
  
  ::-webkit-progress-bar {
    background-color: #060606;
    border: 0;
    height: 5px;
    border-radius: 40px;  
}


/* NAVIGATION BAR STIKCY ON THE BOTTOM */
nav {
    padding: 0.8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    background-color: #fff;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
}