@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
}

header{
    display: flex;
    justify-content: space-between;
}

header > button{
    border: 0px;
    background-color: transparent;
}