body {
    background-color:white;
    width: 150.71px;
    height: 76px;
    left: 1167px;
    top: 246px;
    left: 1167;
    border-radius: 62px;
    margin-top: 50px;
    margin-right:  50px;
    margin-left: 100px
    



}

