html body{
    padding: 0px;
    margin: 0px;
}

body {
    background-color:#F6EBDA ;
}

nav {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: space-between;
}

ul#menu {
    display: flex;
    gap: 32px;
    list-style-type: none;
}
