html body{
    padding: 0px;
    margin: 0px;
}

body {
    background-color:#F6EBDA ;
}

.chicchi{
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: -1;
}
   
nav {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: space-between;
}

ul#menu {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.searchbar{
    display: flex;
   
}

input {
    padding-left: 30px;
    border-radius: 4rem;
    border: 0px;
}

.lente {
     position: absolute;
     gap: 20px;
     margin-top: 5px;
     margin-left: 5px;
}
    