body{
    font-family: Poppins;

}
.flex{
    background-image:url(immagini/caffè.png);
    background-repeat:no-repeat;
    background-size: 81,25%;
    background-position-x:center;
}

.email{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:8%;

}


p{
    color:#ffffff;
    font-size:2rem;
    font-weight:600;
}

form{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
}

input {
    border:none;
    border-radius: 2.625rem;
    font-family:Poppins;
}

#email{
    background-color:#ffffff;
    width: 30.375rem;
    height:3.375rem;
    font-size:1rem;
    padding-left:1.25rem;
    font-weight:600;
}

#bottone{
    background-color:#2F2105;
    color:#ffffff;
    width:8.625rem;
    height:2.75rem;
    font-weight:600;
    font-size:0.875rem;
    position:absolute;
    margin-right:0.3125rem;
    box-shadow: 0px 4px 32px rgba(223, 195, 124, 0.25);
}

#bottone:hover{
    cursor:pointer;
}
   