@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ---------- ROOT VARIABLES ---------- */
:root {
  --color-background: #242731;
  --color-background-2: #1f2128;
  --color-backgroud-3: #2b2e38;
  --color-white: #fff;
  --color-light: #292e3d;
  --color-info-dark: #bfc3c9;
  --color-primary: #a162f7;
  --color-gray-dark: #808191;
  --color-secondary-red: #ff6370;

  --card-border-radius: 0.875rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1rem 1.75rem;
  --padding-1: 1.2rem;

  --box-shadow: 0px 20px 100px rgba(3, 3, 3, 0.25);
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  width: 83.75rem;
  height: 64rem;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--color-background);
  color: var(--color-white);
  font-size: 0.8rem;
  user-select: none;
  overflow-x: hidden;
}
.container {
  display: grid;
  width: 96%;
  margin: 0;
  grid-template-columns: 15.625rem 68.125rem;
}
a {
  color: var(--color-white);
}
img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-weight: 500;
  font-size: 0.9rem;
}

.text-muted {
  color: var(--color-info-dark);
}

/* =============== MAIN CONTEINERS ==========*/
.main__container {
  background-color: var(--color-background-2);
  padding: 1.75rem 1.875rem;
}
/* ============ MEDIA QUERY ============= */
@media screen and (min-width: 1340px) {
  body {
    margin: 0 auto;
  }
}
